# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print( '* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.iter('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( './data/mondial_database.xml' )

# 10 countries with the lowest infant mortality rates

In [7]:
infantMortalityRates={}
for element in document.iterfind('country'):
    for subelement in element.iter('infant_mortality'):
        infantMortalityRates[element.find('name').text]= float(subelement.text)
        
infantMortalityRates

{'Afghanistan': 117.23,
 'Albania': 13.19,
 'Algeria': 21.76,
 'American Samoa': 8.92,
 'Andorra': 3.69,
 'Angola': 79.99,
 'Anguilla': 3.4,
 'Antigua and Barbuda': 13.29,
 'Argentina': 9.96,
 'Armenia': 13.97,
 'Aruba': 11.74,
 'Australia': 4.43,
 'Austria': 4.16,
 'Azerbaijan': 26.67,
 'Bahamas': 12.5,
 'Bahrain': 9.68,
 'Bangladesh': 45.67,
 'Barbados': 10.93,
 'Belarus': 3.64,
 'Belgium': 4.18,
 'Belize': 20.31,
 'Benin': 57.09,
 'Bermuda': 2.48,
 'Bhutan': 37.89,
 'Bolivia': 38.61,
 'Bosnia and Herzegovina': 5.84,
 'Botswana': 9.38,
 'Brazil': 19.21,
 'British Virgin Islands': 13.45,
 'Brunei': 10.48,
 'Bulgaria': 15.08,
 'Burkina Faso': 76.8,
 'Burundi': 63.44,
 'Cambodia': 51.36,
 'Cameroon': 55.1,
 'Canada': 4.71,
 'Cape Verde': 24.28,
 'Cayman Islands': 6.21,
 'Central African Republic': 92.86,
 'Chad': 90.3,
 'Chile': 7.02,
 'China': 14.79,
 'Colombia': 15.02,
 'Comoros': 65.31,
 'Congo': 59.34,
 'Cook Islands': 14.33,
 'Costa Rica': 8.7,
 'Cote dIvoire': 60.16,
 'Croatia': 5.87,
 'Cuba': 4.7,
 'Cyprus': 8.54,
 'Czech Republic': 2.63,
 'Denmark': 4.1,
 'Djibouti': 50.2,
 'Dominica': 11.61,
 'Dominican Republic': 19.63,
 'Ecuador': 17.93,
 'Egypt': 22.41,
 'El Salvador': 18.44,
 'Equatorial Guinea': 71.12,
 'Eritrea': 38.44,
 'Estonia': 6.7,
 'Ethiopia': 55.77,
 'Faroe Islands': 5.71,
 'Fiji': 10.2,
 'Finland': 3.36,
 'France': 3.31,
 'French Guiana': 14.6,
 'French Polynesia': 4.78,
 'Gabon': 47.03,
 'Gambia': 65.74,
 'Gaza Strip': 30.6,
 'Georgia': 16.68,
 'Germany': 3.46,
 'Ghana': 38.52,
 'Gibraltar': 6.29,
 'Greece': 4.78,
 'Greenland': 9.42,
 'Grenada': 10.5,
 'Guadeloupe': 8.3,
 'Guam': 5.51,
 'Guatemala': 23.51,
 'Guernsey': 3.47,
 'Guinea': 55.24,
 'Guinea-Bissau': 90.92,
 'Guyana': 33.56,
 'Haiti': 49.43,
 'Honduras': 18.72,
 'Hong Kong': 2.73,
 'Hungary': 5.09,
 'Iceland': 3.15,
 'India': 43.19,
 'Indonesia': 25.16,
 'Iran': 39.0,
 'Iraq': 37.53,
 'Ireland': 3.74,
 'Isle of Man': 4.17,
 'Israel': 3.98,
 'Italy': 3.31,
 'Jamaica': 13.69,
 'Japan': 2.13,
 'Jersey': 3.86,
 'Jordan': 15.73,
 'Kazakhstan': 21.61,
 'Kenya': 40.71,
 'Kiribati': 35.37,
 'Kuwait': 7.51,
 'Kyrgyzstan': 28.71,
 'Laos': 54.53,
 'Latvia': 7.91,
 'Lebanon': 7.98,
 'Lesotho': 50.48,
 'Liberia': 69.19,
 'Libya': 11.87,
 'Liechtenstein': 4.33,
 'Lithuania': 6.0,
 'Luxembourg': 4.28,
 'Macao': 3.13,
 'Macedonia': 7.9,
 'Madagascar': 44.88,
 'Malawi': 48.01,
 'Malaysia': 13.69,
 'Maldives': 24.59,
 'Mali': 104.34,
 'Malta': 3.59,
 'Marshall Islands': 21.39,
 'Martinique': 7.1,
 'Mauritania': 56.06,
 'Mauritius': 10.59,
 'Mayotte': 56.29,
 'Mexico': 12.58,
 'Micronesia': 21.93,
 'Moldova': 12.93,
 'Monaco': 1.81,
 'Mongolia': 23.15,
 'Montserrat': 13.66,
 'Morocco': 24.52,
 'Mozambique': 72.42,
 'Myanmar': 44.91,
 'Namibia': 45.64,
 'Nauru': 8.21,
 'Nepal': 40.43,
 'Netherlands': 3.66,
 'New Caledonia': 5.46,
 'New Zealand': 4.59,
 'Nicaragua': 20.36,
 'Niger': 86.27,
 'Nigeria': 74.09,
 'North Korea': 24.5,
 'Northern Mariana Islands': 5.5,
 'Norway': 2.48,
 'Oman': 14.0,
 'Pakistan': 57.48,
 'Palau': 11.46,
 'Panama': 10.7,
 'Papua New Guinea': 39.67,
 'Paraguay': 20.75,
 'Peru': 20.21,
 'Philippines': 17.64,
 'Poland': 6.19,
 'Portugal': 4.48,
 'Puerto Rico': 7.73,
 'Qatar': 6.42,
 'Reunion': 7.5,
 'Romania': 10.16,
 'Russia': 7.08,
 'Rwanda': 59.59,
 'Saint Helena': 17.63,
 'Saint Kitts and Nevis': 8.98,
 'Saint Lucia': 11.75,
 'Saint Pierre and Miquelon': 6.95,
 'Saint Vincent and the Grenadines': 13.07,
 'Samoa': 20.5,
 'San Marino': 4.52,
 'Sao Tome and Principe': 49.16,
 'Saudi Arabia': 14.58,
 'Senegal': 52.72,
 'Serbia': 6.16,
 'Seychelles': 10.77,
 'Sierra Leone': 73.29,
 'Singapore': 2.53,
 'Sint Maarten': 9.05,
 'Slovakia': 5.35,
 'Slovenia': 4.04,
 'Solomon Islands': 16.17,
 'Somalia': 100.14,
 'South Africa': 41.61,
 'South Korea': 3.93,
 'South Sudan': 68.16,
 'Spain': 3.33,
 'Sri Lanka': 9.02,
 'Sudan': 52.86,
 'Suriname': 27.07,
 'Swaziland': 54.82,
 'Sweden': 2.6,
 'Switzerland': 3.73,
 'Syria': 15.79,
 'Taiwan': 4.49,
 'Tajikistan': 35.03,
 'Tanzania': 43.74,
 'Thailand': 9.86,
 'Timor-Leste': 38.79,
 'Togo': 46.73,
 'Tonga': 12.36,
 'Trinidad and Tobago': 24.82,
 'Tunisia': 23.19,
 'Turkey': 21.43,
 'Turkmenistan': 38.13,
 'Turks and Caicos Islands': 10.97,
 'Tuvalu': 31.69,
 'Uganda': 60.82,
 'Ukraine': 8.1,
 'United Arab Emirates': 10.92,
 'United Kingdom': 4.44,
 'United States': 6.17,
 'Uruguay': 8.97,
 'Uzbekistan': 19.84,
 'Vanuatu': 16.41,
 'Venezuela': 19.33,
 'Vietnam': 18.99,
 'Virgin Islands': 6.79,
 'Wallis and Futuna': 4.49,
 'West Bank': 28.6,
 'Western Sahara': 145.82,
 'Yemen': 50.41,
 'Zaire': 73.15,
 'Zambia': 66.62,
 'Zimbabwe': 26.55}

In [8]:
infantMortalityRatesSorted= sorted(infantMortalityRates.items(), key=lambda x: x[1])

In [9]:
infantMortalityRatesSorted[0: 10] # 10 countries with the lowest infant mortality rates

[('Monaco', 1.81),
 ('Japan', 2.13),
 ('Norway', 2.48),
 ('Bermuda', 2.48),
 ('Singapore', 2.53),
 ('Sweden', 2.6),
 ('Czech Republic', 2.63),
 ('Hong Kong', 2.73),
 ('Macao', 3.13),
 ('Iceland', 3.15)]

# 10 cities with the largest population

In [10]:
citiesLargestPopulation={}
        
for element in document.iterfind('country'):
    for subelement in element.iter('city'):
        for subsubelement in subelement.iter('population'):
            #print(subsubelement.text)
            citiesLargestPopulation[subelement.find('name').text]=int(subsubelement.text)
citiesLargestPopulation

{'Tirana': 418495,
 'Shkodër': 77075,
 'Durrës': 113249,
 'Vlorë': 79513,
 'Elbasan': 78703,
 'Korçë': 51152,
 'Kavala': 58790,
 'Athina': 664046,
 'Peiraias': 163688,
 'Peristeri': 139981,
 'Acharnes': 106943,
 'Patra': 213984,
 'Kerkyra': 102071,
 'Ioannina': 112486,
 'Thessaloniki': 325182,
 'Iraklio': 173993,
 'Chania': 108642,
 'Rhodes': 115490,
 'Lamia': 75315,
 'Chalkida': 102223,
 'Larissa': 162591,
 'Volos': 144449,
 'Karyes': 233,
 'Skopje': 514967,
 'Kumanovo': 107745,
 'Beograd': 1639121,
 'Novi Sad': 335701,
 'Niš': 257867,
 'Podgorica': 150977,
 'Prishtine': 198214,
 'Andorra la Vella': 22256,
 'Strasbourg': 272222,
 'Mulhouse': 110351,
 'Bordeaux': 239399,
 'Clermont-Ferrand': 140957,
 'Caen': 108793,
 'Rennes': 208033,
 'Brest': 309764,
 'Dijon': 151672,
 'Orléans': 114185,
 'Tours': 134633,
 'Reims': 180752,
 'Ajaccio': 66245,
 'Besançon': 115879,
 'Rouen': 111553,
 'Le Havre': 174156,
 'Paris': 2249975,
 'Boulogne-Billancourt': 116220,
 'Argenteuil': 104282,
 'Montreuil': 103068,
 'Saint-Paul': 103916,
 'Montpellier': 264538,
 'Nîmes': 144940,
 'Perpignan': 118238,
 'Limoges': 137758,
 'Metz': 119962,
 'Nancy': 105382,
 'Toulouse': 447340,
 'Lille': 227533,
 'Nantes': 287845,
 'Angers': 148803,
 'Le Mans': 143240,
 'Amiens': 133327,
 'Poitiers': 87646,
 'Marseille': 850636,
 'Nice': 344064,
 'Toulon': 163974,
 'Aix-en-Provence': 140684,
 'Lyon': 491268,
 'Grenoble': 157424,
 'Saint-Étienne': 170049,
 'Villeurbanne': 145034,
 'Sevilla': 698042,
 'Almería': 189680,
 'Cádiz': 124014,
 'Córdoba': 1267774,
 'Granada': 123697,
 'Huelva': 147808,
 'Málaga': 561435,
 'Jerez de la Frontera': 211784,
 'Jaén': 116469,
 'Algeciras': 117695,
 'Marbella': 135124,
 'Dos Hermanas': 128433,
 'Zaragoza': 678115,
 'Oviedo': 225005,
 'Gijón': 276969,
 'Palma de Mallorca': 402044,
 'Vitoria-Gasteiz': 240753,
 'Bilbao': 351356,
 'Barakaldo': 100064,
 'Donostia': 185512,
 'Santa Cruz de Tenerife': 204476,
 'San Cristóbal de La Laguna': 152025,
 'Las Palmas de Gran Canaria': 381271,
 'Telde': 101080,
 'Santander': 178095,
 'Valladolid': 311682,
 'Burgos': 178864,
 'León': 201100,
 'Salamanca': 160169,
 'Albacete': 171999,
 'Barcelona': 410643,
 'Lleida': 137283,
 'Tarragona': 133223,
 'Reus': 106849,
 'Hospitalet de Llobregat': 256509,
 'Badalona': 219241,
 'Sabadell': 206949,
 'Terrassa': 214406,
 'Santa Coloma de Gramenet': 119391,
 'Mataró': 123367,
 'Badajoz': 151214,
 'A Coruña': 245053,
 'Vigo': 295623,
 'Ourense': 107314,
 'Madrid': 3198645,
 'Móstoles': 203493,
 'Leganés': 185758,
 'Alcalá de Henares': 200505,
 'Fuenlabrada': 196986,
 'Getafe': 168642,
 'Alcorcón': 167217,
 'Torrejón de Ardoz': 123213,
 'Parla': 122045,
 'Alcobendas': 110351,
 'Murcia': 437667,
 'Cartagena': 990179,
 'Pamplona': 195943,
 'Logroño': 152698,
 'Valencia': 832229,
 'Alicante': 329325,
 'Elche': 227417,
 'Castellón de la Plana': 176298,
 'Eisenstadt': 13485,
 'Klagenfurt': 96531,
 'Villach': 59942,
 'Wien': 1761738,
 'Linz': 193511,
 'Wels': 59239,
 'Innsbruck': 124386,
 'Graz': 269211,
 'Salzburg': 146676,
 'St. Pölten': 52100,
 'Praha': 1289556,
 'České Budějovice': 95589,
 'Brno': 404820,
 'Karlovy Vary': 53310,
 'Jihlava': 51162,
 'Hradec Králové': 95594,
 'Liberec': 104973,
 'Ostrava': 311508,
 'Olomouc': 101954,
 'Pardubice': 90844,
 'Plzeň': 171346,
 'Ústí nad Labem': 98596,
 'Zlín': 77137,
 'Stuttgart': 585890,
 'Mannheim': 290117,
 'Karlsruhe': 289173,
 'Freiburg': 209628,
 'Heidelberg': 146751,
 'Heilbronn': 116059,
 'Pforzheim': 114411,
 'Ulm': 116761,
 'Reutlingen': 109799,
 'München': 1348335,
 'Nürnberg': 486314,
 'Augsburg': 267767,
 'Würzburg': 124297,
 'Regensburg': 135403,
 'Ingolstadt': 124927,
 'Fürth': 115613,
 'Erlangen': 103719,
 'Berlin': 3292365,
 'Potsdam': 156021,
 'Cottbus': 99984,
 'Bremen': 542707,
 'Bremerhaven': 108156,
 'Hamburg': 1706696,
 'Wiesbaden': 269121,
 'Frankfurt am Main': 667925,
 'Kassel': 190765,
 'Darmstadt': 143499,
 'Offenbach am Main': 113443,
 'Schwerin': 91293,
 'Rostock': 200265,
 'Hannover': 506416,
 'Braunschweig': 242537,
 'Osnabrück': 153699,
 'Oldenburg': 157267,
 'Göttingen': 115843,
 'Wolfsburg': 119984,
 'Salzgitter': 98895,
 'Hildesheim': 99554,
 'Düsseldorf': 586291,
 'Köln': 1005775,
 'Essen': 566201,
 'Dortmund': 571143,
 'Duisburg': 488468,
 'Bochum': 362286,
 'Wuppertal': 342661,
 'Bielefeld': 326870,
 'Gelsenkirchen': 258766,
 'Bonn': 305765,
 'Mönchengladbach': 255188,
 'Münster': 289576,
 'Krefeld': 222247,
 'Aachen': 236420,
 'Oberhausen': 210216,
 'Hagen': 187944,
 'Hamm': 176037,
 'Herne': 155160,
 'Mülheim an der Ruhr': 166865,
 'Solingen': 155265,
 'Leverkusen': 158984,
 'Neuss': 150568,
 'Paderborn': 142365,
 'Recklinghausen': 115958,
 'Remscheid': 110708,
 'Bottrop': 117311,
 'Siegen': 99187,
 'Moers': 104009,
 'Witten': 96382,
 'Bergisch Gladbach': 108878,
 'Mainz': 200344,
 'Ludwigshafen': 157584,
 'Koblenz': 107825,
 'Kaiserslautern': 96340,
 'Trier': 105671,
 'Saarbrücken': 175853,
 'Dresden': 512354,
 'Leipzig': 502979,
 'Chemnitz': 240253,
 'Zwickau': 93081,
 'Magdeburg': 228144,
 'Halle': 229153,
 'Kiel': 235782,
 'Lübeck': 210305,
 'Erfurt': 200868,
 'Gera': 96067,
 'Jena': 105739,
 'Pécs': 156049,
 'Kecskemét': 111411,
 'Békéscsaba': 62050,
 'Miskolc': 167754,
 'Szeged': 168048,
 'Székesfehérvár': 100570,
 'Győr': 129527,
 'Debrecen': 211320,
 'Eger': 56569,
 'Tatabánya': 67753,
 'Kaposvár': 66245,
 'Nyíregyháza': 119746,
 'Szolnok': 72953,
 'Szombathely': 78884,
 'Veszprém': 61721,
 'Zalaegerszeg': 59499,
 'Budapest': 1729040,
 'Novara': 101952,
 'Torino': 872367,
 'Bérgamo': 115349,
 'Bréscia': 189902,
 'Milano': 1242123,
 'Monza': 119856,
 'Bolzano': 102575,
 'Trento': 114198,
 'Pádova': 206192,
 'Verona': 252520,
 'Vicenza': 111500,
 'Venézia': 261362,
 'Trieste': 202123,
 'La Spezia': 92659,
 'Génova': 586180,
 'Bologna': 371337,
 'Ferrara': 132545,
 'Forlí': 116434,
 'Módena': 179149,
 'Parma': 175895,
 'Piacenza': 100311,
 'Ravenna': 153740,
 "Réggio nell'Emilia": 162082,
 'Rímini': 139601,
 'Livorno': 157052,
 'Pisa': 85858,
 'Firenze': 358079,
 'Prato': 185456,
 'Perúgia': 162449,
 'Terni': 109193,
 'Ancona': 100497,
 'Roma': 2617175,
 'Latina': 117892,
 'Pescara': 117166,
 'Salerno': 132608,
 'Nápoli': 962003,
 'Torre del Greco': 85922,
 'Giugliano in Campania': 108793,
 'Bari': 315933,
 'Fóggia': 147036,
 'Lecce': 89916,
 'Andria': 100052,
 'Táranto': 200154,
 'Catanzaro': 89364,
 'Cosenza': 69484,
 'Réggio di Calabria': 180817,
 'Palermo': 657561,
 'Messina': 243262,
 'Catánia': 293902,
 'Siracusa': 118385,
 'Cágliari': 149883,
 'Sássari': 123782,
 'Vaduz': 5241,
 'Bratislava': 411228,
 'Banská Bystrica': 80003,
 'Žilina': 81494,
 'Košice': 240433,
 'Prešov': 91782,
 'Nitra': 78916,
 'Trenčín': 55877,
 'Trnava': 66358,
 'Ljubljana': 282994,
 'Maribor': 111374,
 'Basel': 167386,
 'Bern': 128848,
 'Biel': 53031,
 'Genève': 191557,
 'Luzern': 80501,
 'Sankt Gallen': 74581,
 'Lugano': 62792,
 'Lausanne': 132788,
 'Zürich': 384786,
 'Winterthur': 105676,
 'Vitebsk': 347928,
 'Gomel': 482652,
 'Grodno': 327540,
 'Mogilev': 358279,
 'Bobruysk': 215092,
 'Minsk': 1836808,
 'Rīga': 696618,
 'Vilnius': 538747,
 'Kaunas': 307498,
 'Klaipeda': 158891,
 'Wrocław': 631377,
 'Legnica': 102708,
 'Wałbrzych': 119216,
 'Bydgoszcz': 362286,
 'Toruń': 204847,
 'Grudziadz': 98726,
 'Włocławek': 115982,
 'Lublin': 348120,
 'Zielona Góra': 119182,
 'Gorzów Wielkopolski': 124470,
 'Łódź': 722022,
 'Kraków': 759131,
 'Tarnów': 113188,
 'Warszawa': 1711324,
 'Płock': 124048,
 'Radom': 220062,
 'Opole': 122120,
 'Rzeszów': 180776,
 'Białystok': 294675,
 'Gdańsk': 460354,
 'Gdynia': 248574,
 'Katowice': 308269,
 'Jastrzebie Zdroj': 92465,
 'Sosnowiec': 214488,
 'Dąbrowa Górnicza': 125063,
 'Bytom': 175377,
 'Gliwice': 186347,
 'Zabrze': 179861,
 'Tychy': 129087,
 'Ruda Śląska': 142672,
 'Rybnik': 140863,
 'Chorzów': 111314,
 'Częstochowa': 235156,
 'Bielsko-Biała': 174291,
 'Kielce': 201363,
 'Olsztyn': 175482,
 'Elbląg': 123977,
 'Poznań': 552393,
 'Kalisz': 104867,
 'Szczecin': 409211,
 'Koszalin': 109183,
 'Cherkasy': 286163,
 'Chernihiv': 296723,
 'Chernivtsi': 255929,
 'Dnipropetrovs´k': 999577,
 'Kryvyi Rih': 660203,
 'Dniprodzerzhyns´k': 242646,
 'Nikopol´': 120000,
 'Donets´k': 955041,
 'Mariupol´': 464457,
 'Makiïvka': 356118,
 'Horlivka': 258879,
 'Kramators´k': 165469,
 'Ivano-Frankivs´k': 224660,
 'Kharkiv': 1441362,
 'Kherson': 300666,
 'Khmel´nyts´kyi': 263703,
 'Prypjat': 0,
 'Kirovohrad': 234919,
 'Luhans´k': 427187,
 'L´viv': 729842,
 'Mykolaïv': 497032,
 'Odesa': 1008162,
 'Poltava': 297589,
 'Kremenchuk': 226434,
 'Rivne': 250174,
 'Sumy': 269663,
 'Ternopil´': 217300,
 'Vinnytsia': 370814,
 'Luts´k': 213063,
 'Uzhhorod': 116556,
 'Zaporizhzhia': 772627,
 'Melitopol´': 156885,
 'Zhytomyr': 271895,
 'Simferopol´': 335582,
 'Kerch': 145845,
 'Kyïv': 2814258,
 'Bila Tserkva': 210551,
 'Sevastopol´': 340559,
 'Petrozavodsk': 268946,
 'Syktyvkar': 235006,
 'Ukhta': 99591,
 'Vorkuta': 70548,
 'Arkhangelsk': 350985,
 'Severodvinsk': 192353,
 'Vologda': 306487,
 'Cherepovets': 315738,
 'Murmansk': 302468,
 'Kaliningrad': 441376,
 'Sankt Peterburg': 5028000,
 'Velikij Novgorod': 218717,
 'Pskov': 203279,
 'Bryansk': 410837,
 'Vladimir': 347930,
 'Kovrov': 145214,
 'Murom': 116075,
 'Ivanovo': 409075,
 'Kaluga': 331351,
 'Obninsk': 104739,
 'Kostroma': 271445,
 'Moskva': 11979529,
 "Podol'sk": 187961,
 'Železnodorožnyj': 131257,
 'Krasnogorsk': 116896,
 "L'ubercy": 172525,
 'Kolomna': 144589,
 'Mytišči': 173160,
 "Elektrostal'": 155196,
 'Serpuchov': 127041,
 'Balašicha': 215494,
 'Chimki': 207425,
 'Odincovo': 138930,
 'Orechovo-Zujevo': 120670,
 'Noginsk': 100072,
 'Ščëlkovo': 110411,
 'Sergijev Posad': 111179,
 'Korolëv': 183402,
 'Žukovskij': 104736,
 'Puškino': 102874,
 'Orel': 318136,
 'Ryazan': 527905,
 'Smolensk': 330970,
 'Tver': 408877,
 'Tula': 493813,
 'Novomoskovsk': 131386,
 'Yaroslavl': 599169,
 'Rybinsk': 200771,
 'Yoshkar-Ola': 257015,
 'Saransk': 298287,
 'Cheboksary': 464940,
 'Novočeboksarsk': 124097,
 'Kirov': 483176,
 'Nizhnii Novgorod': 1259921,
 'Dzeržinsk': 240742,
 'Arzamas': 106362,
 'Belgorod': 373528,
 'Staryj Oskol': 221085,
 'Voronezh': 1003638,
 'Kursk': 428741,
 'Lipetsk': 509098,
 'Jelec': 108404,
 'Tambov': 281834,
 'Elista': 103749,
 'Kazan': 1176187,
 'Naberezhnye Tchelny': 519025,
 'Nižnekamsk': 234044,
 "Al'metjevsk": 146393,
 'Astrakhan': 527345,
 'Volgograd': 1018790,
 'Volzhsky': 327356,
 'Kamyšin': 119565,
 'Penza': 519900,
 'Samara': 1171598,
 'Tolyatti': 719149,
 "Syzran'": 178750,
 'Novokujbyševsk': 108438,
 'Saratov': 839755,
 'Balakovo': 199690,
 "Ėngel's": 202419,
 'Ulyanovsk': 615306,
 'Dimitrovgrad': 122580,
 'Rostov-na-Donu': 1103733,
 'Batajsk': 111843,
 'Taganrog': 254783,
 'Šachty': 239987,
 'Novočerkassk': 168746,
 'Volgodonsk': 170841,
 'Novošachtinsk': 111075,
 'Ufa': 1077719,
 'Sterlitamak': 275798,
 'Salavat': 156095,
 "Okt'abr'skij": 109474,
 'Izhevsk': 632913,
 'Sarapul': 101381,
 'Orenburg': 556127,
 'Orsk': 239800,
 'Perm': 1013887,
 'Berezniki': 156466,
 'Majkop': 144249,
 'Makhachkala': 576194,
 'Derbent': 119200,
 'Kaspijsk': 100129,
 'Chasavjurt': 131187,
 "Nazran'": 93335,
 "Nal'čik": 240203,
 'Čerkessk': 129069,
 'Vladikavkaz': 308285,
 'Grozny': 277414,
 'Krasnodar': 784048,
 'Sochi': 368011,
 'Novorossiysk': 251013,
 'Armavir': 188832,
 'Stavropol': 412116,
 "P'atigorsk": 142511,
 'Nevinnomyssk': 118360,
 'Kislovodsk': 128553,
 'Jessentuki': 100996,
 'Neftekamsk': 121733,
 'Kurgan': 325565,
 'Yekaterinburg': 1396074,
 'Nizhny Tagil': 358378,
 "Kamensk-Ural'skij": 174689,
 "Pervoural'sk": 124528,
 'Chelyabinsk': 1156201,
 'Magnitogorsk': 411880,
 'Zlatoust': 174962,
 'Miass': 151751,
 'Kopejsk': 137601,
 'Gorno Altaysk': 56933,
 'Barnaul': 629681,
 'Bijsk': 210115,
 'Rubcovsk': 147002,
 'Kemerovo': 540095,
 'Novokuznetsk': 549182,
 'Prokopjevsk': 210130,
 'Novosibirsk': 1523801,
 'Omsk': 1160670,
 'Tomsk': 547989,
 'Seversk': 108590,
 'Tyumen': 634171,
 'Ulan-Ude': 416079,
 'Kyzyl': 109918,
 'Abakan': 165214,
 'Krasnoyarsk': 1016385,
 "Noril'sk": 175365,
 'Ačinsk': 109155,
 'Irkutsk': 606137,
 'Angarsk': 233567,
 'Bratsk': 246319,
 'Chita': 331346,
 'Yakutsk': 286456,
 'Birobidzhan': 75413,
 'Anadyr': 13045,
 'Vladivostok': 600378,
 'Nachodka': 159719,
 'Ussurijsk': 158004,
 'Khabarovsk': 593636,
 'Komsomolsk-na-Amure': 257891,
 'Blagoveščensk': 214390,
 'Petropavlovsk-Kamčatskij': 179780,
 'Magadan': 95982,
 'Okhotsk': 4215,
 'Južno-Sachalinsk': 181728,
 'Khanty Mansijsk': 80151,
 'Surgut': 325511,
 'Nizhnevartovsk': 263228,
 'Neftejugansk': 122855,
 'Salekhard': 42544,
 "Nojabr'sk": 110620,
 'Novyj Urengoj': 104107,
 'Bruxelles': 168576,
 'Schaerbeek': 130587,
 'Molenbeek-Saint-Jean': 94653,
 'Anderlecht': 113462,
 'Antwerpen': 507911,
 'Gent': 248813,
 'Charleroi': 203753,
 'Mons': 93941,
 'Liège': 195931,
 'Hasselt': 75579,
 'Arlon': 28759,
 'Namur': 110500,
 'Brugge': 117577,
 'Leuven': 97692,
 'Luxembourg': 99852,
 'Groningen': 198023,
 'Leeuwarden': 108145,
 'Enschede': 158494,
 'Zwolle': 123440,
 'Lelystad': 76252,
 'Almere': 196244,
 'Arnhem': 150989,
 'Nijmegen': 168810,
 'Apeldoorn': 157540,
 'Utrecht': 330081,
 'Amersfoort': 151270,
 'Amsterdam': 812895,
 'Haarlem': 155361,
 'Zaanstad': 151058,
 'Hilversum': 86738,
 'Den Haag': 509623,
 'Rotterdam': 619180,
 'Dordrecht': 118780,
 'Leiden': 121387,
 "'s-Hertogenbosch": 143822,
 'Eindhoven': 221279,
 'Tilburg': 210283,
 'Breda': 180263,
 'Maastricht': 122243,
 'Heerlen': 88139,
 'Sittard-Geleen': 93726,
 'Sarajevo': 291422,
 'Tuzla': 120441,
 'Zenica': 115134,
 'Mostar': 113169,
 'Banja Luka': 199191,
 'Bijeljina': 114663,
 'Brčko': 93028,
 'Zagreb': 686568,
 'Split': 165893,
 'Rijeka': 127498,
 'Osijek': 83496,
 'Zadar': 70674,
 'Sofia': 1270284,
 'Plovdiv': 331796,
 'Varna': 330486,
 'Burgas': 197301,
 'Ruse': 146609,
 'Stara Zagora': 136363,
 'Arad': 159074,
 'Piteşti': 155383,
 'Bacău': 144307,
 'Oradea': 196367,
 'Botoşani': 106847,
 'Brăila': 180302,
 'Braşov': 253200,
 'Bucureşti': 1883425,
 'Buzău': 115494,
 'Cluj-Napoca': 324576,
 'Constanţa': 283872,
 'Craiova': 269506,
 'Galaţi': 249432,
 'Iaşi': 290422,
 'Baia Mare': 123738,
 'Drobeta-Turnu Severin': 92617,
 'Târgu Mureş': 134290,
 'Piatra-Neamţ': 85055,
 'Ploieşti': 209945,
 'Satu Mare': 102411,
 'Sibiu': 147245,
 'Suceava': 92121,
 'Timişoara': 319279,
 'Râmnicu Vâlcea': 98776,
 'Adana': 1636229,
 'Adiyaman': 217463,
 'Afyonkarahisar': 186991,
 'Agri': 107839,
 'Aksaray': 186599,
 'Amasya': 91874,
 'Ankara': 4630735,
 'Antalya': 1073794,
 'Aydin': 195951,
 'Balikesir': 267903,
 'Batman': 348963,
 'Bingol': 98424,
 'Bolu': 131264,
 'Bursa': 1734705,
 'İnegöl': 177617,
 'Canakkale': 111137,
 'Corum': 231146,
 'Denizli': 525497,
 'Diyarbakir': 892713,
 'Edirne': 148474,
 'Elazig': 347857,
 'Erzincan': 96474,
 'Erzurum': 384399,
 'Eskisehir': 659924,
 'Gaziantep': 1438373,
 'Giresun': 100712,
 'Iskenderun': 184833,
 'Hatay': 216960,
 'Mersin': 876958,
 'Tarsus': 245671,
 'Isparta': 198385,
 'Istanbul': 13710512,
 'Izmir': 3401994,
 'Karaman': 141630,
 'Kahramanmaraş': 443575,
 'Kars': 78100,
 'Kastamonu': 96217,
 'Kayseri': 1004276,
 'Kirikkale': 192473,
 'Luleburgaz': 105279,
 'Kirsehir': 114244,
 'Kocaeli': 1527407,
 'Gebze': 290868,
 'Konya': 1107886,
 'Kütahya': 224898,
 'Malatya': 426381,
 'Manisa': 309050,
 'Mardin': 86948,
 'Kızıltepe': 147585,
 'Mus': 81764,
 'Nevsehir': 92068,
 'Nigde': 118186,
 'Ordu': 147913,
 'Rize': 104508,
 'Sakarya': 590498,
 'Samsun': 547778,
 'Şanlıurfa': 526247,
 'Siirt': 135350,
 'Sivas': 312587,
 'Tekirdag': 150112,
 'Çorlu': 235354,
 'Tokat': 132437,
 'Trabzon': 243735,
 'Usak': 187886,
 'Van': 370190,
 'Yozgat': 78328,
 'Zonguldak': 109080,
 'Karabük': 110537,
 'Iğdır': 82656,
 'Yalova': 102874,
 'Kilis': 85119,
 'Duzce': 135557,
 'Osmaniye': 209255,
 'Aalborg': 104885,
 'Århus': 252213,
 'Randers': 61121,
 'Vejle': 51804,
 'Odense': 168798,
 'Esbjerg': 71579,
 'København': 549050,
 'Tallinn': 399340,
 'Tartu': 103284,
 'Tórshavn': 12245,
 'Mariehamn': 10851,
 'Tampere': 220678,
 'Lahti': 103396,
 'Hämeenlinna': 67803,
 'Kuopio': 106475,
 'Lappeenranta': 72617,
 'Kotka': 54714,
 'Rovaniemi': 61244,
 'Mikkeli': 54633,
 'Jyväskylä': 134862,
 'Joensuu': 74332,
 'Oulu': 194181,
 'Pori': 83457,
 'Turku': 182154,
 'Helsinki': 614535,
 'Espoo': 261654,
 'Vaasa': 66415,
 'Oslo': 623966,
 'Sandvika': 116677,
 'Moss': 24517,
 'Hamar': 15685,
 'Lillehammer': 22118,
 'Drammen': 65473,
 'Tonsberg': 8984,
 'Skien': 53015,
 'Arendal': 12174,
 'Kristiansand': 84476,
 'Stavanger': 129191,
 'Bergen': 267950,
 'Hermannsverk': 706,
 'Molde': 21448,
 'Trondheim': 179692,
 'Steinkjer': 20480,
 'Svolvaer': 4500,
 'Narvik': 18754,
 'Bodoe': 34479,
 'Tromsø': 70358,
 'Hammerfest': 7089,
 'Vadsoe': 5961,
 'Göteborg': 526089,
 'Vanersborg': 35804,
 'Mariestad': 24255,
 'Borås': 104867,
 'Karlskrona': 59007,
 'Gävle': 96170,
 'Visby': 20000,
 'Halmstad': 93231,
 'Ostersund': 56662,
 'Jönköping': 129478,
 'Kalmar': 54554,
 'Falun': 51900,
 'Malmö': 307758,
 'Helsingborg': 132011,
 'Kristianstad': 80507,
 'Lund': 112950,
 'Växjö': 84800,
 'Lulea': 66526,
 'Jokkmokk': 6822,
 'Örebro': 138952,
 'Linköping': 148521,
 'Norrköping': 132124,
 'Nykoping': 64199,
 'Eskilstuna': 98765,
 'Stockholm': 881235,
 'Huddinge': 101010,
 'Uppsala': 202625,
 'Karlstad': 86929,
 'Umeå': 117294,
 'Harnosand': 27287,
 'Västerås': 140499,
 'Monaco': 975,
 'Vatican City': 842,
 'Ceuta': 82376,
 'Melilla': 78476,
 'Reykjavik': 118061,
 'Keflavik': 13862,
 'Hafnarfjordur': 26099,
 'Akureyri': 17490,
 'Dublin': 525383,
 'Cork': 118912,
 'Galway': 75414,
 'Limerick': 56779,
 'San Marino': 4227,
 'Valletta': 5748,
 'Victoria': 24970,
 'Chişinău': 663400,
 'Tiraspol': 148917,
 'Bălţi': 143300,
 'Aveiro': 53496,
 'Braga': 114003,
 'Coimbra': 118016,
 'Leiria': 50608,
 'Lisboa': 559248,
 'Amadora': 89232,
 'Barreiro': 79042,
 'Almada': 49578,
 'Oporto': 266790,
 'Vila Nova de Gaia': 72576,
 'Setúbal': 91108,
 'Ponta Delgada': 46102,
 'Funchal': 112362,
 'Newcastle upon Tyne': 268064,
 'Sunderland': 174286,
 'Gateshead': 120046,
 'Middlesbrough': 174700,
 'Manchester': 109571,
 'Wigan': 103608,
 'Stockport': 105878,
 'Bolton': 194189,
 'Salford': 103886,
 'Oldham': 96555,
 'Rochdale': 107926,
 'Warrington': 165456,
 'Blackpool': 147663,
 'Blackburn': 117963,
 'Liverpool': 552267,
 'Birkenhead': 142968,
 'St Helens': 102885,
 'Preston': 97886,
 'Leeds': 474632,
 'Wakefield': 99251,
 'Bradford': 349561,
 'Huddersfield': 162949,
 'Sheffield': 518090,
 'Doncaster': 109805,
 'Rotherham': 109691,
 'York': 152841,
 'Kingston upon Hull': 284321,
 'Nottingham': 289301,
 'Northampton': 215173,
 'Leicester': 443760,
 'Derby': 255394,
 'Lincoln': 258468,
 'Birmingham': 212193,
 'Coventry': 325949,
 'Wolverhampton': 210319,
 'Solihull': 123187,
 'Stoke-on-Trent': 270726,
 'Worcester': 181041,
 'Sutton Coldfield': 109015,
 'Telford': 142723,
 'Cambridge': 145818,
 'Peterborough': 161707,
 'Ipswich': 144957,
 'Chelmsford': 110507,
 'Watford': 131982,
 'Southend-on-Sea': 175547,
 'Basildon': 107123,
 'Colchester': 119441,
 'Norwich': 186682,
 'Luton': 211228,
 'London': 366151,
 'Southampton': 253651,
 'Portsmouth': 238137,
 'Basingstoke': 107355,
 'Milton Keynes': 171750,
 'High Wycombe': 120256,
 'Brighton and Hove': 229700,
 'Maidstone': 107627,
 'Oxford': 159994,
 'Reading': 218705,
 'Slough': 155298,
 'Eastbourne': 109185,
 'Gillingham': 104157,
 'Crawley': 106943,
 'Worthing': 109120,
 'Woking': 105367,
 'Bristol': 535907,
 'Plymouth': 0,
 'Exeter': 113507,
 'Bournemouth': 187503,
 'Poole': 154718,
 'Cheltenham': 116447,
 'Gloucester': 136362,
 'Swindon': 182441,
 'Edinburgh': 459366,
 'Glasgow': 590507,
 'Aberdeen': 195021,
 'Dundee': 147285,
 'Kirkwall': 6330,
 'Lerwick': 6570,
 'Cardiff': 335145,
 'Swansea': 179485,
 'Newport': 128060,
 'Belfast': 280561,
 'Kabul': 2435400,
 'Herat': 335200,
 'Kandahar': 311800,
 'Mazar-i-Sharif': 288700,
 'Hefei': 3310268,
 'Huainan': 1200000,
 'Bengbu': 449245,
 'Wuhu': 425740,
 'Huaibei': 366549,
 'Maanshan': 305421,
 'Anqing': 250718,
 'Tongling': 228017,

In [18]:
citiesLargestPopulationSorted= sorted(citiesLargestPopulation.items(), key=lambda x: x[1], reverse=True)

In [19]:
citiesLargestPopulationSorted[0:10]  #10 cities with the largest population

[('Shanghai', 22315474),
 ('Istanbul', 13710512),
 ('Mumbai', 12442373),
 ('Moskva', 11979529),
 ('Beijing', 11716620),
 ('São Paulo', 11152344),
 ('Tianjin', 11090314),
 ('Guangzhou', 11071424),
 ('Delhi', 11034555),
 ('Shenzhen', 10358381)]

# 10 ethnic groups with the largest overall populations (sum of best/ latest estimates over all countries)

In [13]:
ethnicGroupLargestPopulation={}
ethnicGroupLargestPopulationPercent={} 
ethnicGroupLargestPopulationNet={}
ethnic_group=[]
population=[]
for element in document.iterfind('country'):
    for subelement in element.iter('ethnicgroup'):
        a=element.find('ethnicgroup').attrib
        b=float(element.find('population[last()]').text)
        ethnicGroupLargestPopulationPercent[element.find('name').text]= a
        ethnicGroupLargestPopulation[element.find('name').text]= b
        d=element.find('ethnicgroup[1]').text
        c=b * (float(a['percentage'])/100)
        ethnic_group.append(d)
        population.append(c)
        ethnicGroupLargestPopulationNet[element.find('name').text]= c

In [14]:
import pandas as pd

ethnic_group= pd.Series(ethnic_group)
population= pd.Series(population)
ethnic_group
population

new= pd.concat([ethnic_group, population], axis=1 )
new1= new.drop_duplicates()
new2=new1.sort_values(by=1, ascending=False)
new3= new2.reset_index()
del new3['index']
new3

                        0             1
0             Han Chinese  1.245059e+09
1               Dravidian  3.027137e+08
2                European  2.549581e+08
3                 African  1.626516e+08
4                 Bengali  1.467769e+08
5                Japanese  1.265342e+08
6                 Russian  1.146462e+08
7                Javanese  1.134560e+08
8                European  1.088867e+08
9               Viet/Kinh  7.607838e+07
10                 German  7.340102e+07
11                Mestizo  6.740192e+07
12                Turkish  6.393539e+07
13                English  5.359233e+07
14   Mediterranean Nordic  4.681592e+07
15                  Bantu  4.268248e+07
16               European  4.138942e+07
17              Ukrainian  3.550297e+07
18                  Oromo  2.909074e+07
19        Mangbetu-Azande  2.798602e+07
20                Mestizo  2.764384e+07
21                   Arab  2.495640e+07
22                   Arab  2.442328e+07
23                  Uzbek  2.221542e+07
24               European  2.128446e+07
25                   Arab  1.884200e+07
26               Romanian  1.792838e+07
27              Sinhalese  1.499516e+07
28                  Malay  1.389317e+07
29                  Dutch  1.359245e+07
..                    ...           ...
167               Chinese  1.961455e+04
168                 Black  1.931627e+04
169                French  1.731715e+04
170            Polynesian  1.663739e+04
171              European  1.586624e+04
172              European  1.422043e+04
173               Chinese  1.328019e+04
174            Polynesian  1.219700e+04
175                 Black  1.174634e+04
176                 Black  1.113820e+04
177              European  1.111284e+04
178                Jewish  1.056022e+04
179                French  9.451960e+03
180            Polynesian  9.433920e+03
181                Danish  7.891800e+03
182       Basques Bretons  6.312000e+03
183              European  4.918750e+03
184            Vietnamese  3.438120e+03
185       African descent  2.831500e+03
186             Christian  1.969632e+03
187               Italian  1.831800e+03
188            Polynesian  1.611000e+03
189               Chinese  1.579341e+03
190               Chinese  1.450400e+03
191            Polynesian  1.313850e+03
192             Caucasian  1.110380e+03
193             Norwegian  1.037088e+03
194               Chinese  8.020000e+02
195             Europeans  7.512800e+02
196                Bounty  6.600000e+01

[197 rows x 2 columns]

In [20]:
g= list(new3[0])
g=set(g)
h={}
result = new3.sort_values(by=0)

for name in g:
    sum=0
    for index, row in result.iterrows():
        if row[0] == name:
            sum=sum+ row[1]
        h[name]=sum

ELP= sorted(h.items(), key=lambda x: x[1], reverse=True)
ELP

[('Han Chinese', 1245058800.0),
 ('European', 441003291.0636),
 ('Dravidian', 302713744.25),
 ('African', 198605033.964),
 ('Bengali', 146776916.72),
 ('Mestizo', 141972918.46699998),
 ('Japanese', 126534212.00000001),
 ('Russian', 114646210.938),
 ('Javanese', 113456006.10000001),
 ('German', 79192720.332),
 ('Viet/Kinh', 76078375.3),
 ('Arab', 72055773.31),
 ('Turkish', 63935390.4336),
 ('English', 53592326.743999995),
 ('Mediterranean Nordic', 46815916.0),
 ('Bantu', 42682476.85),
 ('Ukrainian', 35502969.586),
 ('Oromo', 29090740.514999997),
 ('Mangbetu-Azande', 27986022.45),
 ('Uzbek', 22215416.0),
 ('Chinese', 21408872.111000005),
 ('Romanian', 17928382.130999997),
 ('Sinhalese', 14995155.02),
 ('Amerindian', 14079907.5),
 ('Malay', 13893173.784),
 ('Dutch', 13592447.067000002),
 ('Tajik', 13026493.9),
 ('Kazakh', 10831265.809),
 ('Greek', 10706259.370000001),
 ('British Isles', 9844325.120000001),
 ('Czech', 9548241.456),
 ('Hungarian', 9172430.644),
 ('Azeri', 8476989.0),
 ('Hutu', 8412778.4),
 ('Somali', 8190747.05),
 ('Swede', 7931391.1899999995),
 ('Austrian', 7743280.448999999),
 ('Belorussian', 7682081.904),
 ('Mande', 6992980.5),
 ('Mulatto', 6895055.13),
 ('Fleming', 6437741.319999999),
 ('Jewish', 6329708.428),
 ('Serb', 5903032.114),
 ('Berber Arab', 5859393.64),
 ('Malinke', 5682538.01),
 ('Bulgarian', 5601820.488),
 ('Finn', 5095033.512),
 ('Kurdish', 4999576.8),
 ('Slovak', 4625259.852),
 ('Lao Loum', 4429813.760000001),
 ('Turkmen', 4285695.75),
 ('Albanian', 4255293.34),
 ('South Asian', 4220768.5),
 ('Norwegian', 4168338.963),
 ('Mossi', 4157471.04),
 ('Irish', 4010132.2480000006),
 ('Croat', 3844388.3519999995),
 ('Georgian', 3757424.4),
 ('Kyrgyz', 3749013.4),
 ('Indian', 3401087.1999999997),
 ('Armenian', 3193394.463),
 ('Tigrinya', 3157637.45),
 ('Quechua', 3008178.6),
 ('White', 2988082.7780000004),
 ('Moldavian/Romanian', 2783561.062),
 ('Mongol', 2614196.0650000004),
 ('Lithuanian', 2502620.4),
 ('Fulani', 2296481.5500000003),
 ('Rwanda', 2091408.78),
 ('Sotho', 2002894.237),
 ('Batswana', 1936316.5999999999),
 ('Slovene', 1873527.11),
 ('Muslim', 1819978.5599999998),
 ('Baya', 1478973.1400000001),
 ('Fula', 1456790.0950000002),
 ('Macedonian', 1322387.7480000001),
 ('Latvian', 1305309.228),
 ('Maur', 1061210.4),
 ('Estonian', 889290.5850000001),
 ('Bhote', 366502.0),
 ('Creole', 334014.57),
 ('Luxembourgish', 331182.243),
 ('East Indian', 325329.54),
 ('Celt', 318452.0),
 ('Montenegrin', 266612.47),
 ('Asian', 218468.27899999998),
 ('Hindustani', 200406.06),
 ('Norman-French', 157664.0),
 ('Micronesian', 156216.0),
 ('Polynesian', 144036.16000000003),
 ('Seychellois', 90945.0),
 ('European/Caribbean Amerindian', 81187.20000000001),
 ('Black', 76888.791),
 ('Carib Indians', 70739.0),
 ('Chamorro', 59121.818),
 ('French', 53596.11),
 ('Scandinavian', 48197.0),
 ('Italian', 43533.600000000006),
 ('Spanish', 33589.45),
 ('Danish', 7891.800000000001),
 ('Basques Bretons', 6312.0),
 ('Vietnamese', 3438.1199999999994),
 ('African descent', 2831.5),
 ('Christian', 1969.632),
 ('Caucasian', 1110.38),
 ('Europeans', 751.28),
 ('Bounty', 66.0)]

In [21]:
ELP[0:10] # 10 ethnic groups with the largest overall populations

[('Han Chinese', 1245058800.0),
 ('European', 441003291.0636),
 ('Dravidian', 302713744.25),
 ('African', 198605033.964),
 ('Bengali', 146776916.72),
 ('Mestizo', 141972918.46699998),
 ('Japanese', 126534212.00000001),
 ('Russian', 114646210.938),
 ('Javanese', 113456006.10000001),
 ('German', 79192720.332)]

# name and country of a) longest river, b) largest lake and c) airport at highest elevation

## a) longest river

In [105]:
import pandas as pd
name=[]
country=[]
length=[]
for element in document.iterfind('river'):
    name.append(element.find('name').text)
    temp= element.attrib
    country.append(temp['country'])
    for subelement in element.iter('length'):
        length.append(float(subelement.text))
#name
#country
#area
name= pd.Series(name)
country= pd.Series(country)
length= pd.Series(length)

river= pd.concat([name, country, length], axis=1 )
river

                       0                    1       2
0                Thjorsa                   IS   230.0
1    Joekulsa a Fjoellum                   IS   206.0
2                 Glomma                    N   604.0
3                  Lagen                    N   322.0
4              Goetaaelv                    S    93.0
5               Klaraelv                  N S   460.0
6                Umeaelv                    S   470.0
7                Dalaelv                    S   520.0
8         Vaesterdalaelv                    S   320.0
9          Oesterdalaelv                    S   241.0
10             Paatsjoki               SF N R   145.0
11             Ounasjoki                   SF   300.0
12              Kemijoki                   SF   550.0
13              Oulujoki                   SF   107.0
14              Kymijoki                   SF   203.0
15         Kokemaeenjoki                   SF   121.0
16                Vuoksi                 SF R   162.0
17                Thames                   GB   346.0
18                  Maas               NL B F   925.0
19                 Loire                    F  1013.0
20               Garonne                  F E   647.0
21                 Rhone                 F CH   812.0
22                 Saone                    F   480.0
23                 Doubs                 F CH   453.0
24                 Isere                    F   290.0
25                 Seine                    F   776.0
26                 Marne                    F   514.0
27                  Tajo                  E P  1007.0
28                 Douro                  E P   897.0
29              Guadiana                  E P   742.0
..                   ...                  ...     ...
208                 Bomu              ZRE RCA   900.0
209                Uelle                  ZRE  1983.0
210                  Kwa                  ZRE  1100.0
211                 Fimi                  ZRE   970.0
212              Lukenie                  ZRE   130.0
213                Kasai              ANG ZRE   830.0
214               Cuango              ANG ZRE  1300.0
215                Cuilo              ANG ZRE   970.0
216                 Ruki                  ZRE  1450.0
217               Busira                  ZRE  1287.0
218              Tshuapa                  ZRE   350.0
219                Lulua                  ZRE   104.0
220               Lomami                  ZRE   350.0
221              Aruwimi                  ZRE   300.0
222              Lualaba                  ZRE  2574.0
223               Lukuga                  ZRE   402.0
224               Ruzizi           ZRE RWA BI  1700.0
225                Luvua                  ZRE  1750.0
226              Luapula                ZRE Z  2160.0
227              Zambezi  ANG NAM RB Z ZW MOC  1251.0
228                Chire               MW MOC  2589.0
229             Okavango           ANG NAM RB  2739.0
230              Limpopo        RSA MOC ZW RB  1579.0
231               Oranje           LS NAM RSA    83.0
232                 Vaal                  RSA   403.0
233         Murray River                  AUS     NaN
234        Darling River                  AUS     NaN
235   Murrumbidgee River                  AUS     NaN
236      Eucumbene River                  AUS     NaN
237          Snowy River                  AUS     NaN

[238 rows x 3 columns]

In [106]:
riverSorted= river.fillna(0)
riverSorted=riverSorted.sort_values(by=2, ascending=False)
riverSorted

riverSorted= riverSorted.reset_index()
del riverSorted['index']
riverSorted

                       0                            1       2
0               Amazonas                     CO BR PE  6448.0
1                Jangtse                           CN  6380.0
2                Hwangho                           CN  4845.0
3                   Lena                            R  4400.0
4                Akagera                  EAT RWA EAU  4374.0
5                 Mekong              CN LAO THA K VN  4350.0
6                Irtysch                     R KAZ CN  4248.0
7                  Niger                RMM RN WAN RG  4184.0
8               Missouri                          USA  4130.0
9               Jenissej                            R  4092.0
10                Parana                     RA BR PY  3998.0
11           Mississippi                          USA  3778.0
12                    Ob                            R  3650.0
13                 Volga                            R  3531.0
14         Tarim-Yarkend                           CN  3260.0
15           Yukon River                      CDN USA  3185.0
16                 Indus                    PK IND CN  3180.0
17            Rio Grande                      MEX USA  3034.0
18                Saluen                       MYA CN  2980.0
19           Brahmaputra                    CN IND BD  2896.0
20                 Donau  SRB A D H HR SK BG RO MD UA  2845.0
21     Rio Sao Francisco                           BR  2830.0
22                  Amur                         R CN  2824.0
23              Okavango                   ANG NAM RB  2739.0
24               Euphrat                   TR SYR IRQ  2736.0
25             Tocantins                           BR  2640.0
26                 Chire                       MW MOC  2589.0
27               Lualaba                          ZRE  2574.0
28              Paraguay                     RA BR PY  2549.0
29                Ganges                       IND BD  2511.0
..                   ...                          ...     ...
208            Paatsjoki                       SF N R   145.0
209                 Tara                      MNE BIH   140.0
210              Bartang                          TAD   133.0
211           Black Drin                        AL MK   133.0
212              Lukenie                          ZRE   130.0
213    Riviere Richelieu                          CDN   124.0
214        Kokemaeenjoki                           SF   121.0
215                 Piva                      MNE BIH   120.0
216    Saint Marys River                      CDN USA   120.0
217             Oulujoki                           SF   107.0
218                Lulua                          ZRE   104.0
219                Sanga                  CAM RCA RCB   100.0
220               Moraca                          MNE    99.5
221            Goetaaelv                            S    93.0
222               Oranje                   LS NAM RSA    83.0
223                Narva                         R EW    78.0
224               Mincio                            I    75.0
225                 Newa                            R    74.0
226        Niagara River                      CDN USA    58.0
227                 Breg                            D    45.9
228                 Buna                       AL MNE    44.0
229              Brigach                            D    43.0
230               Limmat                           CH    36.3
231                 Würm                            D    35.0
232  Straits of Mackinac                          USA     0.1
233         Murray River                          AUS     0.0
234        Darling River                          AUS     0.0
235   Murrumbidgee River                          AUS     0.0
236      Eucumbene River                          AUS     0.0
237          Snowy River                          AUS     0.0

[238 rows x 3 columns]

In [45]:
countryList=[]
countryCode=[]
for element in document.iterfind('country'):
    temp= element.attrib
    countryCode.append(temp['car_code'])
    countryList.append(element.find('name').text)
    
countryList
countryCode

countryList= pd.Series(countryList)
countryCode= pd.Series(countryCode)
CountryTally= pd.concat([countryCode, countryList], axis=1 )
CountryTally

        0                       1
0      AL                 Albania
1      GR                  Greece
2      MK               Macedonia
3     SRB                  Serbia
4     MNE              Montenegro
5     KOS                  Kosovo
6     AND                 Andorra
7       F                  France
8       E                   Spain
9       A                 Austria
10     CZ          Czech Republic
11      D                 Germany
12      H                 Hungary
13      I                   Italy
14     FL           Liechtenstein
15     SK                Slovakia
16    SLO                Slovenia
17     CH             Switzerland
18     BY                 Belarus
19     LV                  Latvia
20     LT               Lithuania
21     PL                  Poland
22     UA                 Ukraine
23      R                  Russia
24      B                 Belgium
25      L              Luxembourg
26     NL             Netherlands
27    BIH  Bosnia and Herzegovina
28     HR                 Croatia
29     BG                Bulgaria
..    ...                     ...
214   TCH                    Chad
215    GQ       Equatorial Guinea
216     G                   Gabon
217    CV              Cape Verde
218   SUD                   Sudan
219   SSD             South Sudan
220   COM                 Comoros
221    RG                  Guinea
222    LB                 Liberia
223   DJI                Djibouti
224    ER                 Eritrea
225   ETH                Ethiopia
226    SP                 Somalia
227   EAK                   Kenya
228   WAG                  Gambia
229    SN                 Senegal
230   GNB           Guinea-Bissau
231   WAL            Sierra Leone
232   EAU                  Uganda
233    LS                 Lesotho
234    RM              Madagascar
235    MW                  Malawi
236   MOC              Mozambique
237    MS               Mauritius
238  MAYO                 Mayotte
239    SD               Swaziland
240  REUN                 Reunion
241  HELX            Saint Helena
242   STP   Sao Tome and Principe
243    SY              Seychelles

[244 rows x 2 columns]

In [111]:
riverSorted1= riverSorted.merge(CountryTally, how='left', left_on=1, right_on=0)
riverSorted1['0_y']=riverSorted1[1]
riverSorted1

del riverSorted1[1]
del riverSorted1['1_x']
riverSorted1.columns= ['River', 'Length', 'Country Code', 'Country']
riverSorted1= riverSorted1.fillna('Multiple')
riverSorted1

                   River  Length                 Country Code        Country
0               Amazonas  6448.0                     CO BR PE       Multiple
1                Jangtse  6380.0                           CN          China
2                Hwangho  4845.0                           CN          China
3                   Lena  4400.0                            R         Russia
4                Akagera  4374.0                  EAT RWA EAU       Multiple
5                 Mekong  4350.0              CN LAO THA K VN       Multiple
6                Irtysch  4248.0                     R KAZ CN       Multiple
7                  Niger  4184.0                RMM RN WAN RG       Multiple
8               Missouri  4130.0                          USA  United States
9               Jenissej  4092.0                            R         Russia
10                Parana  3998.0                     RA BR PY       Multiple
11           Mississippi  3778.0                          USA  United States
12                    Ob  3650.0                            R         Russia
13                 Volga  3531.0                            R         Russia
14         Tarim-Yarkend  3260.0                           CN          China
15           Yukon River  3185.0                      CDN USA       Multiple
16                 Indus  3180.0                    PK IND CN       Multiple
17            Rio Grande  3034.0                      MEX USA       Multiple
18                Saluen  2980.0                       MYA CN       Multiple
19           Brahmaputra  2896.0                    CN IND BD       Multiple
20                 Donau  2845.0  SRB A D H HR SK BG RO MD UA       Multiple
21     Rio Sao Francisco  2830.0                           BR         Brazil
22                  Amur  2824.0                         R CN       Multiple
23              Okavango  2739.0                   ANG NAM RB       Multiple
24               Euphrat  2736.0                   TR SYR IRQ       Multiple
25             Tocantins  2640.0                           BR         Brazil
26                 Chire  2589.0                       MW MOC       Multiple
27               Lualaba  2574.0                          ZRE          Zaire
28              Paraguay  2549.0                     RA BR PY       Multiple
29                Ganges  2511.0                       IND BD       Multiple
..                   ...     ...                          ...            ...
208            Paatsjoki   145.0                       SF N R       Multiple
209                 Tara   140.0                      MNE BIH       Multiple
210              Bartang   133.0                          TAD     Tajikistan
211           Black Drin   133.0                        AL MK       Multiple
212              Lukenie   130.0                          ZRE          Zaire
213    Riviere Richelieu   124.0                          CDN         Canada
214        Kokemaeenjoki   121.0                           SF        Finland
215                 Piva   120.0                      MNE BIH       Multiple
216    Saint Marys River   120.0                      CDN USA       Multiple
217             Oulujoki   107.0                           SF        Finland
218                Lulua   104.0                          ZRE          Zaire
219                Sanga   100.0                  CAM RCA RCB       Multiple
220               Moraca    99.5                          MNE     Montenegro
221            Goetaaelv    93.0                            S         Sweden
222               Oranje    83.0                   LS NAM RSA       Multiple
223                Narva    78.0                         R EW       Multiple
224               Mincio    75.0                            I          Italy
225                 Newa    74.0                            R         Russia
226        Niagara River    58.0                      CDN USA       Multiple
227                 Breg    45.9                            D        Germany
228                 Buna    44.0                       AL MNE       Multiple
229              Brigach    43.0                            D        Germany
230               Limmat    36.3                           CH    Switzerland
231                 Würm    35.0                            D        Germany
232  Straits of Mackinac     0.1                          USA  United States
233         Murray River     0.0                          AUS      Australia
234        Darling River     0.0                          AUS      Australia
235   Murrumbidgee River     0.0                          AUS      Australia
236      Eucumbene River     0.0                          AUS      Australia
237          Snowy River     0.0                          AUS      Australia

[238 rows x 4 columns]

In [114]:
riverSorted1.iloc[0] # longest river

River           Amazonas
Length              6448
Country Code    CO BR PE
Country         Multiple
Name: 0, dtype: object

## b) largest lake

In [64]:
import pandas as pd
nameLake=[]
countryLake=[]
areaLake=[]
for element in document.iterfind('lake'):
    nameLake.append(element.find('name').text)
    temp= element.attrib
    countryLake.append(temp['country'])
    for subelement in element.iter('area'):
        areaLake.append(float(subelement.text))
#name
#country
#area
nameLake= pd.Series(nameLake)
countryLake= pd.Series(countryLake)
areaLake= pd.Series(areaLake)

lake= pd.concat([nameLake, countryLake, areaLake], axis=1 )
lake

                               0        1          2
0                          Inari       SF   1040.000
1                     Oulujaervi       SF    928.000
2                      Kallavesi       SF    472.000
3                         Saimaa       SF   4370.000
4                     Paeijaenne       SF   1118.000
5                     Mjoesa-See        N    368.000
6                       Storuman        S    173.000
7                         Siljan        S    290.000
8                       Maelaren        S   1140.000
9                        Vaenern        S   5648.000
10                      Vaettern        S   1900.000
11                       Arresoe       DK     40.200
12                     Loch Ness       GB     56.000
13                   Loch Lomond       GB     71.000
14                      Bodensee   A D CH    538.500
15                      Chiemsee        D     80.000
16               Starnberger See        D     56.360
17                      Ammersee        D     46.600
18                  Laacher Maar        D      3.300
19                     Lac Leman     F CH    581.000
20                     Zurichsee       CH     88.000
21                     Thunersee       CH     48.300
22                   Brienzersee       CH     29.800
23            Vierwaldstattersee       CH    113.700
24                 Lago Maggiore     I CH    216.000
25                  Lago di Como        I    146.000
26                Lago di Garda         I    370.000
27                Lago Trasimeno        I    128.000
28               Lago di Bolsena        I    114.000
29             Lago di Bracciano        I     57.000
..                           ...      ...        ...
111           Lake Winnipesaukee      USA    648.000
112              Lake Okeechobee      USA    147.000
113                Kentucky Lake      USA    337.000
114             Chickamauga Lake      USA     53.200
115  Franklin. D. Roosevelt Lake      USA   4400.000
116                  Crater Lake      USA    497.000
117              Great Salt Lake      USA    487.000
118                   Lake Tahoe      USA    645.000
119                 Pyramid Lake      USA    640.000
120                  Lake Powell      USA    981.000
121                    Lake Mead      USA   1578.000
122               Fort Peck Lake      USA   1453.000
123               Lake Sakakawea      USA   1685.000
124                    Lake Oahe      USA   8157.000
125              Lago de Chapala      MEX   1035.000
126               Lake Nicaragua   NIC CR      1.000
127                 Lake Managua      NIC  13000.000
128                   Lake Irazu       CR   4214.000
129               Lake Maracaibo       YV   8372.000
130           Lago de Sobradinho       BR   1340.000
131                Lake Titicaca   BOL PE  10582.000
132                        Poopo      BOL      0.005
133               Salar de Uyuni      BOL   5770.000
134       Licancabur Crater Lake  RCH BOL   9500.000
135          Laguna Mar Chiquita       RA      6.640
136                    Lake Eyre      AUS    145.000
137          Lake Burley Griffin      AUS     30.000
138               Lake Eucumbene      AUS    202.000
139               Lake Jindabyne      AUS        NaN
140                    Lake Hume      AUS        NaN

[141 rows x 3 columns]

In [65]:
lakeSorted= lake.fillna(0)
lakeSorted=lakeSorted.sort_values(by=2, ascending=False)
lakeSorted

lakeSorted= lakeSorted.reset_index()
del lakeSorted['index']
lakeSorted

                          0               1           2
0               Caspian Sea  R AZ KAZ IR TM  386400.000
1              Lake Manitou             CDN   82103.000
2       Rutanzige/Eduardsee         ZRE EAU   68870.000
3              Lake Ontario         CDN USA   59600.000
4                Lake Huron         CDN USA   57800.000
5                  Dead Sea     IL JOR WEST   41650.000
6             Lake Victoria     EAT EAK EAU   32893.000
7          Etoscha Salt Pan             NAM   31792.000
8              Ozero Baikal               R   31492.000
9                Lake Eyasi             EAT   29600.000
10      Makarikari Salt Pan              RB   28568.000
11         Lake Manicouagan             CDN   25745.000
12         Great Slave Lake             CDN   24420.000
13                Chad Lake  RN WAN TCH CAM   23000.000
14             Lake Nipigon             CDN   18960.000
15           Ozero Balchash             KAZ   18428.000
16             Ozero Ladoga               R   18400.000
17               Ozero Aral         UZB KAZ   17160.000
18             Lake Managua             NIC   13000.000
19               Lake Ngami              RB   12000.000
20            Lake Titicaca          BOL PE   10582.000
21          Lake Tanganjika    ZRE Z BI EAT   10000.000
22   Licancabur Crater Lake         RCH BOL    9500.000
23               Lake Volta              GH    8502.000
24           Lake Maracaibo              YV    8372.000
25              Lake Malawi      MW MOC EAT    8200.000
26                Lake Oahe             USA    8157.000
27      Kuybyshev Reservoir               R    6450.000
28               Lake Abaya             ETH    6405.000
29                Issyk-Kul             KGZ    6236.000
..                      ...             ...         ...
111            Lago di Como               I     146.000
112               Lake Eyre             AUS     145.000
113          Lago Trasimeno               I     128.000
114         Lago di Bolsena               I     114.000
115      Vierwaldstattersee              CH     113.700
116               Lake Erie         CDN USA     104.000
117               Zurichsee              CH      88.000
118                Chiemsee               D      80.000
119              Koli Sarez             TAD      80.000
120             Loch Lomond              GB      71.000
121       Lago di Bracciano               I      57.000
122         Starnberger See               D      56.360
123               Loch Ness              GB      56.000
124      Barrage de Mbakaou             CAM      54.000
125        Chickamauga Lake             USA      53.200
126           Lake Bosumtwi              GH      49.000
127               Thunersee              CH      48.300
128                Ammersee               D      46.600
129                 Arresoe              DK      40.200
130     Lake Burley Griffin             AUS      30.000
131             Brienzersee              CH      29.800
132    Laguna de Gallocanta               E      14.400
133             Segara Anak              RI      11.300
134             Ozero Onega               R       9.616
135     Laguna Mar Chiquita              RA       6.640
136            Laacher Maar               D       3.300
137          Lake Nicaragua          NIC CR       1.000
138                   Poopo             BOL       0.005
139          Lake Jindabyne             AUS       0.000
140               Lake Hume             AUS       0.000

[141 rows x 3 columns]

In [115]:
lakeSorted1= lakeSorted.merge(CountryTally, how='left', left_on=1, right_on=0)
#lakeSorted1
lakeSorted1['0_y']= lakeSorted1[1]
del lakeSorted1[1]
del lakeSorted1['1_x']
lakeSorted1.columns= ['Lake', "Area", "Country Code", 'Country']
lakeSorted1= lakeSorted1.fillna('Multiple')
lakeSorted1

                       Lake        Area    Country Code         Country
0               Caspian Sea  386400.000  R AZ KAZ IR TM        Multiple
1              Lake Manitou   82103.000             CDN          Canada
2       Rutanzige/Eduardsee   68870.000         ZRE EAU        Multiple
3              Lake Ontario   59600.000         CDN USA        Multiple
4                Lake Huron   57800.000         CDN USA        Multiple
5                  Dead Sea   41650.000     IL JOR WEST        Multiple
6             Lake Victoria   32893.000     EAT EAK EAU        Multiple
7          Etoscha Salt Pan   31792.000             NAM         Namibia
8              Ozero Baikal   31492.000               R          Russia
9                Lake Eyasi   29600.000             EAT        Tanzania
10      Makarikari Salt Pan   28568.000              RB        Botswana
11         Lake Manicouagan   25745.000             CDN          Canada
12         Great Slave Lake   24420.000             CDN          Canada
13                Chad Lake   23000.000  RN WAN TCH CAM        Multiple
14             Lake Nipigon   18960.000             CDN          Canada
15           Ozero Balchash   18428.000             KAZ      Kazakhstan
16             Ozero Ladoga   18400.000               R          Russia
17               Ozero Aral   17160.000         UZB KAZ        Multiple
18             Lake Managua   13000.000             NIC       Nicaragua
19               Lake Ngami   12000.000              RB        Botswana
20            Lake Titicaca   10582.000          BOL PE        Multiple
21          Lake Tanganjika   10000.000    ZRE Z BI EAT        Multiple
22   Licancabur Crater Lake    9500.000         RCH BOL        Multiple
23               Lake Volta    8502.000              GH           Ghana
24           Lake Maracaibo    8372.000              YV       Venezuela
25              Lake Malawi    8200.000      MW MOC EAT        Multiple
26                Lake Oahe    8157.000             USA   United States
27      Kuybyshev Reservoir    6450.000               R          Russia
28               Lake Abaya    6405.000             ETH        Ethiopia
29                Issyk-Kul    6236.000             KGZ      Kyrgyzstan
..                      ...         ...             ...             ...
111            Lago di Como     146.000               I           Italy
112               Lake Eyre     145.000             AUS       Australia
113          Lago Trasimeno     128.000               I           Italy
114         Lago di Bolsena     114.000               I           Italy
115      Vierwaldstattersee     113.700              CH     Switzerland
116               Lake Erie     104.000         CDN USA        Multiple
117               Zurichsee      88.000              CH     Switzerland
118                Chiemsee      80.000               D         Germany
119              Koli Sarez      80.000             TAD      Tajikistan
120             Loch Lomond      71.000              GB  United Kingdom
121       Lago di Bracciano      57.000               I           Italy
122         Starnberger See      56.360               D         Germany
123               Loch Ness      56.000              GB  United Kingdom
124      Barrage de Mbakaou      54.000             CAM        Cameroon
125        Chickamauga Lake      53.200             USA   United States
126           Lake Bosumtwi      49.000              GH           Ghana
127               Thunersee      48.300              CH     Switzerland
128                Ammersee      46.600               D         Germany
129                 Arresoe      40.200              DK         Denmark
130     Lake Burley Griffin      30.000             AUS       Australia
131             Brienzersee      29.800              CH     Switzerland
132    Laguna de Gallocanta      14.400               E           Spain
133             Segara Anak      11.300              RI       Indonesia
134             Ozero Onega       9.616               R          Russia
135     Laguna Mar Chiquita       6.640              RA       Argentina
136            Laacher Maar       3.300               D         Germany
137          Lake Nicaragua       1.000          NIC CR        Multiple
138                   Poopo       0.005             BOL         Bolivia
139          Lake Jindabyne       0.000             AUS       Australia
140               Lake Hume       0.000             AUS       Australia

[141 rows x 4 columns]

In [116]:
lakeSorted1.iloc[0] #  largest lake

Lake               Caspian Sea
Area                    386400
Country Code    R AZ KAZ IR TM
Country               Multiple
Name: 0, dtype: object

## c) airport at highest elevation

In [74]:
import pandas as pd
nameAirport=[]
countryAirport=[]
elevationAirport=[]
for element in document.iterfind('airport'):
    nameAirport.append(element.find('name').text)
    temp= element.attrib
    countryAirport.append(temp['country'])
    for subelement in element.iter('elevation'):
        elevationAirport.append(subelement.text)
#name
#country
#area
nameAirport= pd.Series(nameAirport)
countryAirport= pd.Series(countryAirport)
elevationAirport= pd.Series(elevationAirport)
elevationAirport=elevationAirport.astype(float)
Airport= pd.concat([nameAirport, countryAirport, elevationAirport], axis=1 )
Airport

                                         0     1       2
0                                    Herat   AFG   977.0
1                               Kabul Intl   AFG  1792.0
2                             Tirana Rinas    AL    38.0
3                     Cheikh Larbi Tebessi    DZ   811.0
4                            Batna Airport    DZ   822.0
5                                  Soummam    DZ     6.0
6                              Tamanrasset    DZ  1377.0
7                                   Biskra    DZ    88.0
8                     Mohamed Boudiaf Intl    DZ   691.0
9                        Ain Arnat Airport    DZ  1024.0
10                                Es Senia    DZ    90.0
11                                Noumerat    DZ   461.0
12                                  Annaba    DZ     5.0
13                       Houari Boumediene    DZ    25.0
14                                  Zenata    DZ   248.0
15                          Pago Pago Intl  AMSA    10.0
16                                 Lubango   ANG  1762.0
17                                 Cabinda   ANG    20.0
18                                Menongue   ANG  1363.0
19                   Luanda 4 De Fevereiro   ANG    74.0
20                                  Huambo   ANG  1703.0
21                               Wallblake   AXA    39.0
22                           V C Bird Intl    AG    19.0
23                                La Rioja    RA   438.0
24                                   Jujuy    RA   920.0
25                       Comandante Espora    RA    75.0
26              Teniente Benjamin Matienzo    RA   456.0
27                                San Luis    RA   710.0
28                     Santiago del Estero    RA   200.0
29                             Sauce Viejo    RA    17.0
...                                    ...   ...     ...
1285                             Samarkand   UZB   678.0
1286                  Port Vila Bauerfield    VU    21.0
1287            General Manuel Carlos Piar    YV   144.0
1288  General Jose Antonio Anzoategui Intl    YV     8.0
1289                       Casique Aramare    YV    75.0
1290                               Barinas    YV   203.0
1291                     Barquisimeto Intl    YV   623.0
1292                       La Chinita Intl    YV    72.0
1293                 Arturo Michelena Intl    YV   432.0
1294                               Maturin    YV    68.0
1295                    Simon Bolivar Intl    YV    72.0
1296                              Rach Gia    VN     2.0
1297                          Vinh Airport    VN     7.0
1298                       Tansonnhat Intl    VN    10.0
1299                           Noibai Intl    VN    12.0
1300          Cat Bi International Airport    VN     2.0
1301                       Tra Noc Airport    VN     3.0
1302                             Nha Trang    VN     6.0
1303                          Cyril E King  VIRG     7.0
1304                                Wallis  WAFU    24.0
1305                      Hassan I Airport   WSA    63.0
1306                            Sanaa Intl    YE  2200.0
1307                         Hodeidah Intl    YE    13.0
1308                             Taiz Intl    YE  1475.0
1309                             Aden Intl    YE     2.0
1310                           Livingstone     Z  1007.0
1311                                 Ndola     Z  1270.0
1312                           Lusaka Intl     Z  1152.0
1313                        J M Nkomo Intl    ZW  1329.0
1314                           Harare Intl    ZW  1490.0

[1315 rows x 3 columns]

In [75]:
AirportSorted= Airport.fillna(0)
AirportSorted= AirportSorted.sort_values(by=2, ascending=False)
AirportSorted

AirportSorted= AirportSorted.reset_index()
del AirportSorted['index']
AirportSorted

                                                      0    1       2
0                                          El Alto Intl  BOL  4063.0
1                                         Lhasa-Gonggar   CN  4005.0
2                                          Yushu Batang   CN  3963.0
3                                               Juliaca   PE  3827.0
4                Teniente Alejandro Velasco Astete Intl   PE  3311.0
5                              Juana Azurduy De Padilla  BOL  2905.0
6                                   Mariscal Sucre Intl   EC  2813.0
7                   Coronel Fap Alfredo Mendivil Duarte   PE  2719.0
8     Mayor General FAP Armando Revoredo Iglesias Ai...   PE  2677.0
9                   Licenciado Adolfo Lopez Mateos Intl  MEX  2581.0
10                                     Rodriguez Ballon   PE  2563.0
11                                        Eldorado Intl   CO  2549.0
12                                     Jorge Wilsterman  BOL  2549.0
13                                       Mariscal Lamar   EC  2532.0
14                                          Asmara Intl   ER  2336.0
15                                            Bole Intl  ETH  2334.0
16                                 Hermanos Serdan Intl  MEX  2244.0
17                                                 Paro  BHT  2235.0
18                        Licenciado Benito Juarez Intl  MEX  2230.0
19                                           Sanaa Intl   YE  2200.0
20                         General Leobardo C Ruiz Intl  MEX  2177.0
21                             Xining Caojiabao Airport   CN  2170.0
22                                         Eldoret Intl  EAK  2116.0
23                                             La Nubia   CO  2095.0
24                                               Gondar  ETH  1994.0
25                                      Lanzhou Airport   CN  1948.0
26                                        Santa Fe Muni  USA  1935.0
27                           Queretaro Intercontinental  MEX  1920.0
28                                              Wujiaba   CN  1895.0
29                        City Of Colorado Springs Muni  USA  1886.0
...                                                 ...  ...     ...
1285                                     Luzhou Airport   CN     0.0
1286                                   Mianyang Airport   CN     0.0
1287                                          Manzhouli   CN     0.0
1288                                    Nantong Airport   CN     0.0
1289                                     Beihai Airport   CN     0.0
1290                            Wenzhou Longwan Airport   CN     0.0
1291                                   Yancheng Airport   CN     0.0
1292                                   Xiangfan Airport   CN     0.0
1293                                              Wuhai   CN     0.0
1294                                    Meixian Airport   CN     0.0
1295                                    Chifeng Airport   CN     0.0
1296             Jieyang Chaoshan International Airport   CN     0.0
1297                                    Ulanhot Airport   CN     0.0
1298                                     Quzhou Airport   CN     0.0
1299                                    Jinzhou Airport   CN     0.0
1300                                  Guangyuan Airport   CN     0.0
1301                            Jiujiang Lushan Airport   CN     0.0
1302                                    Nanyang Airport   CN     0.0
1303                                   Nanchong Airport   CN     0.0
1304                                   Changzhi Airport   CN     0.0
1305                                    Weifang Airport   CN     0.0
1306                                Lianyungang Airport   CN     0.0
1307                                    Ganzhou Airport   CN     0.0
1308                                    Changde Airport   CN     0.0
1309                                     Anqing Airport   CN     0.0
1310                                    Alexandria Intl   ET    -2.0
1311                                           Schiphol   NL    -3.0
1312                                          Rotterdam   NL    -5.0
1313                                          Astrakhan    R   -20.0
1314                                             Atyrau  KAZ   -22.0

[1315 rows x 3 columns]

In [94]:
AirportSorted1= AirportSorted.merge(CountryTally, how='left', left_on=1, right_on=0)
del AirportSorted1[1]
del AirportSorted1['1_x']
AirportSorted1.columns= ['Airport Name', 'Elevation', 'Country Code', 'Country']
AirportSorted1

,1,2,3,4
0,El Alto Intl,4063.0,BOL,Bolivia
1,Lhasa-Gonggar,4005.0,CN,China
2,Yushu Batang,3963.0,CN,China
3,Juliaca,3827.0,PE,Peru
4,Teniente Alejandro Velasco Astete Intl,3311.0,PE,Peru
5,Juana Azurduy De Padilla,2905.0,BOL,Bolivia
6,Mariscal Sucre Intl,2813.0,EC,Ecuador
7,Coronel Fap Alfredo Mendivil Duarte,2719.0,PE,Peru
8,Mayor General FAP Armando Revoredo Iglesias Ai...,2677.0,PE,Peru
9,Licenciado Adolfo Lopez Mateos Intl,2581.0,MEX,Mexico
10,Rodriguez Ballon,2563.0,PE,Peru
11,Eldorado Intl,2549.0,CO,Colombia
12,Jorge Wilsterman,2549.0,BOL,Bolivia
13,Mariscal Lamar,2532.0,EC,Ecuador
14,Asmara Intl,2336.0,ER,Eritrea
15,Bole Intl,2334.0,ETH,Ethiopia
16,Hermanos Serdan Intl,2244.0,MEX,Mexico
17,Paro,2235.0,BHT,Bhutan
18,Licenciado Benito Juarez Intl,2230.0,MEX,Mexico
19,Sanaa Intl,2200.0,YE,Yemen
20,General Leobardo C Ruiz Intl,2177.0,MEX,Mexico
21,Xining Caojiabao Airport,2170.0,CN,China
22,Eldoret Intl,2116.0,EAK,Kenya
23,La Nubia,2095.0,CO,Colombia
24,Gondar,1994.0,ETH,Ethiopia
25,Lanzhou Airport,1948.0,CN,China
26,Santa Fe Muni,1935.0,USA,United States
27,Queretaro Intercontinental,1920.0,MEX,Mexico
28,Wujiaba,1895.0,CN,China
29,City Of Colorado Springs Muni,1886.0,USA,United States
...,...,...,...,...
1285,Luzhou Airport,0.0,CN,China
1286,Mianyang Airport,0.0,CN,China
1287,Manzhouli,0.0,CN,China
1288,Nantong Airport,0.0,CN,China
1289,Beihai Airport,0.0,CN,China
1290,Wenzhou Longwan Airport,0.0,CN,China
1291,Yancheng Airport,0.0,CN,China
1292,Xiangfan Airport,0.0,CN,China
1293,Wuhai,0.0,CN,China
1294,Meixian Airport,0.0,CN,China
1295,Chifeng Airport,0.0,CN,China
1296,Jieyang Chaoshan International Airport,0.0,CN,China
1297,Ulanhot Airport,0.0,CN,China
1298,Quzhou Airport,0.0,CN,China
1299,Jinzhou Airport,0.0,CN,China
1300,Guangyuan Airport,0.0,CN,China
1301,Jiujiang Lushan Airport,0.0,CN,China
1302,Nanyang Airport,0.0,CN,China
1303,Nanchong Airport,0.0,CN,China
1304,Changzhi Airport,0.0,CN,China
1305,Weifang Airport,0.0,CN,China
1306,Lianyungang Airport,0.0,CN,China
1307,Ganzhou Airport,0.0,CN,China
1308,Changde Airport,0.0,CN,China
1309,Anqing Airport,0.0,CN,China
1310,Alexandria Intl,-2.0,ET,Egypt
1311,Schiphol,-3.0,NL,Netherlands
1312,Rotterdam,-5.0,NL,Netherlands
1313,Astrakhan,-20.0,R,Russia
1314,Atyrau,-22.0,KAZ,Kazakhstan

In [117]:
AirportSorted1.iloc[0] # airport at highest elevation

1    El Alto Intl
2            4063
3             BOL
4         Bolivia
Name: 0, dtype: object